/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .like-button-circle, .unlike-button-circle {
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    line-height: 36px; /* テキストを丸の中央に配置 */
    padding: 0;
    cursor: pointer;
  }
  
  .like-button-circle:hover, .unlike-button-circle:hover {
    background-color: blue;
    color: white;
  }
  
  .like-button-circle i, .unlike-button-circle i {
    margin-right: 5px;
  }
  